.bkgd{
    background-color: black;
}
.head{
    background-color: rgb(90, 17, 17);
}

.ctr{
    background: repeating-radial-gradient(beige, gray 10%, darkred 15%);
}

.boarder1{
    background-color: black;
    display: flex;
    padding: 2px;
}

.tar{
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 15px;
    padding-right: 0;
    padding-left: 0;
}

/*boarder1*/

.btn{
    background-color: black;
    margin-left: 30;
    margin-right: 30;
    display: flex;
}

.butt{
    display: flex;
    justify-content: center;        /*centers text*/
    padding-bottom: 25px;
    padding-bottom: 25px;
    padding: 12px 28px;     /*pos of text*/
    border-radius: 12px;
}
/*boarder1*/

.boarder2{
    background-color: black;
    display: flex;
    padding: 5px;
}

.button {
    background: linear-gradient(rgba(150, 7, 7, 0.829),rgb(223, 3, 3),rgba(150, 7, 7, 0.829));
    border: 2px solid rgb(219, 174, 174);
    color: beige;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    box-shadow: 0 12px 28px 0 rgba(128, 128, 128, 0.473);
}

.button:hover {
    background-color: rgba(255, 102, 0, 0.829);
    color: rgb(10, 10, 10);
    border: 2px solid gray;
}